@model SIRSS.Models.SubjectGradesRecord

@{
    ViewBag.Title = "Delete";
}
<style>
    th {
        background-color: #008CC4;
    }

    table, th, td {
        padding: 8px;
        text-align: left;
        text-align-last: center;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
    }

    h4 {
        background-color: #008CC4;
        font-size: 30px;
        color: white;
    }
</style>

<div class="content">
    <div class="container">
        <h4>SubjectGradesRecord</h4>
        <h3>Are you sure you want to delete this?</h3>
        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Subject.SubjectCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Subject.SubjectCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ClassExam)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClassExam)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MidExam)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MidExam)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FinalExam)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FinalExam)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
</div></div>